*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#eef2f7;
height:100vh;
}

.app{
display:flex;
height:100vh;
}

/* SIDEBAR */
.sidebar{
width:260px;
background:white;
border-right:1px solid #ddd;
padding:15px;
display:flex;
flex-direction:column;
}

.logo{
font-size:22px;
font-weight:bold;
margin-bottom:15px;
}

.new-chat{
padding:10px;
border:none;
border-radius:10px;
background:#5b8cff;
color:white;
cursor:pointer;
}

.history{
margin-top:15px;
overflow:auto;
}

.history-item{
padding:10px;
border-radius:10px;
display:flex;
justify-content:space-between;
cursor:pointer;
margin-bottom:5px;
}

.history-item:hover{
background:#eee;
}

.delete-chat{
border:none;
background:none;
color:red;
cursor:pointer;
}

/* MAIN */
.main{
flex:1;
display:flex;
flex-direction:column;
}

.chat-box{
flex:1;
overflow:auto;
padding:20px;
}

/* CHAT */
.user,.bot{
display:flex;
margin:8px 0;
}

.user{
justify-content:flex-end;
}

.bot{
justify-content:flex-start;
}

.user p{
background:#5b8cff;
color:white;
padding:12px;
border-radius:15px;
max-width:70%;
}

.bot p{
background:white;
padding:12px;
border-radius:15px;
max-width:70%;
border:1px solid #ddd;
}

.chat-image{
max-width:320px;
border-radius:15px;
margin-top:8px;
}

/* INPUT */
.input-area{
display:flex;
padding:12px;
background:white;
border-top:1px solid #ddd;
gap:10px;
}

textarea{
flex:1;
resize:none;
padding:10px;
border-radius:10px;
border:1px solid #ccc;
height:45px;
}

.send-btn{
padding:10px 16px;
background:#5b8cff;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

.file-btn{
width:45px;
height:45px;
background:#eee;
border-radius:10px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
}

/* PREVIEW */
.preview-box{
padding:10px;
}

.preview-wrapper{
position:relative;
display:inline-block;
}

.preview-image{
max-width:90px;
border-radius:10px;
}

.remove-btn{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:white;
border:none;
border-radius:50%;
width:20px;
height:20px;
cursor:pointer;
}
