*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  background:#0f172a;
  color:white;
}

.app{
  display:flex;
  height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:260px;
  background:#020617;
  padding:12px;
  border-right:1px solid #1f2937;
}

.new-chat{
  width:100%;
  padding:10px;
  background:#2563eb;
  border:none;
  color:white;
  border-radius:8px;
}

/* CHAT */
.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

.chat{
  flex:1;
  overflow:auto;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:8px;
}

.user,.bot{
  display:flex;
}

.user{justify-content:flex-end}
.bot{justify-content:flex-start}

.user p{
  background:#2563eb;
  padding:10px;
  border-radius:10px;
  max-width:70%;
}

.bot p{
  background:#1e293b;
  padding:10px;
  border-radius:10px;
  max-width:70%;
}

/* INPUT */
.input-area{
  display:flex;
  gap:8px;
  padding:10px;
  background:#020617;
}

textarea{
  flex:1;
  resize:none;
  padding:10px;
  border-radius:8px;
  border:none;
  background:#111827;
  color:white;
}

/* PREVIEW */
.preview img{
  max-width:80px;
  border-radius:8px;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal-box{
  background:#111827;
  padding:20px;
  border-radius:10px;
}

.hidden{display:none}
