<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="pinModal" class="modal hidden">
  <div class="modal-box">
    <h3>Enter PIN</h3>
    <input id="pinInput" type="password">
    <button onclick="submitPin()">Unlock</button>
  </div>
</div>

<div class="app">

<aside class="sidebar">
<button class="new-chat" onclick="newChat()">+ New Chat</button>

<h3>Chats</h3>
<div id="history"></div>

<h3>Private</h3>
<div id="private"></div>

</aside>

<main class="main">

<div id="chat" class="chat"></div>

<div id="preview" class="preview"></div>

<form id="form" class="input-area">
  <label class="file-btn">
    +
    <input type="file" id="file" hidden>
  </label>

  <textarea id="input" placeholder="Message NeuroMV..."></textarea>

  <button>Send</button>
</form>

</main>

</div>

<script src="/static/script.js"></script>
</body>
</html>
